<!DOCTYPE html>
<html>
<head>
<title>Seller CRM webpage</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<header>
    <h3>CRM-system (beta version)</h3>
</header>

<section>
  <nav>
    <ul>
      <li><a href="seller" style="color:FloralWhite">Seller</a></li>
      <br>
      <li>Client</li>
      <br>
      <li><a href="task" style="color:FloralWhite">Task</a></li>
    </ul>
  </nav>

  <article>
    @content
  </article>
</section>

<!-- <form action="/Client.html">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form> -->

</body>
</html>
